/* === LAYOUT === */
#board {
    display: grid;
    grid-template-columns: repeat(4, minmax(65px, auto));
    grid-template-rows: repeat(4, minmax(65px, auto));
    grid-gap: 10px;
}

/* === STYLING === */
/* === Body === */
body {
    /* Background created with http://www.heropatterns.com */
    background-color: #e1dd8f;
    background-image: url("data:image/svg+xml,%3Csvg width='70' height='70' viewBox='0 0 70 70' xmlns='http://www.w3.org/2000/svg'%3E%3Cg fill='%234c86a8' fill-opacity='0.4' fill-rule='evenodd'%3E%3Cpath d='M0 0h35v35H0V0zm5 5h25v25H5V5zm5 5h15v15H10V10zm5 5h5v5h-5v-5zM40 5h25v25H40V5zm5 5h15v15H45V10zm5 5h5v5h-5v-5zM70 35H35v35h35V35zm-5 5H40v25h25V40zm-5 5H45v15h15V45zm-5 5h-5v5h5v-5zM30 40H5v25h25V40zm-5 5H10v15h15V45zm-5 5h-5v5h5v-5z'/%3E%3C/g%3E%3C/svg%3E");
}

/* === Cards === */
#board {
    margin-top: 10px;
    width: 300px;
    margin-left: auto;
    margin-right: auto;
}
.card {
    position: relative;
    width: 100%;
    height: 100%;
    border-radius: 10px;
}

.card-front {
    position: absolute;
    height: 100%;
    width: 100%;
    z-index: -1;
    border-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.card-back {
    position: absolute;
    height: 100%;
    width: 100%;
    background-color: #4C86A8;
    z-index: 0;
    border: 2px solid black;
    border-radius: 10px;
}

.card-back:hover {
    border: 2px solid white;
    background: lightblue;
}

.selected {
    border: 2px solid black;
    background-color: #E1DD8F;
}

.matched {
    border: 3px solid green;
    background: lightgreen;
    animation-name: match;
    animation-duration: 2s;
    animation-timing-function: ease-in-out;
    animation-direction: alternate;
}

@keyframes match {
    0%, 100% {
        width: 65px;
        height: 65px;
    }

    50% {
        width: 70px;
        height: 70px;
    }
}

.not-matched {
    border: 3px solid red;
    background: rgb(243, 101, 101);
    animation-name: no-match;
    animation-duration: 0.75s;
    animation-timing-function: ease-in-out;
    animation-direction: alternate;
    animation-iteration-count: 1;
}

@keyframes no-match {
    0%, 100% {
        transform: translate(0,0);
    }

    25% {
        transform: translate(-20px, 0);
    }

    50% {
        transform: translate(20px, 0);
    }

    75% {
        transform: translate(-20px, 0);
    }
}

.card-front i {
    font-size: 3em;
}

/* === Header === */
header {
    display: grid;
    width: 300px;
    margin-left: auto;
    margin-right: auto;
    background: rgba(255, 255, 255, 0.2);
}
#title {
    font-size: 2.5em;
    font-family: 'Luckiest Guy', cursive;
    margin: 0 0 10px 0;
    justify-self: center;
    align-self: center;
}

#timer {
    display: grid;
    width: 80px;
    border: 1px solid black;
    background: rgba(187, 187, 187, 0.8);
    margin: 0 auto 0 auto;
}

#time {
    justify-self: center;
    align-self: center;
}

#moves, #rating {
    font-size: 1em;
    margin: 0;
    align-self: center;
}

#counter {
    margin: 0;
}

#stats {
    display: flex;
    justify-content: space-around;
}

#restart-btn {
    margin: 0 auto 0 auto;
    display: flex;
    width: 80px;
    height: 25px;
    border-radius: 5px;
    border: 1px solid black;
    background: rgba(187, 187, 187, 0.8);
}

#restart-btn p {
    margin: 0;
    padding-left: 5px;
    align-self: center;
}

#restart {
    margin: 0;
    padding-left: 5px;
    align-self: center;
}

/* === Modal === */
#modal {
    display: none;
    position: fixed;
    z-index: 1;
}

#message {
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-color: #E1DD8F;
    font-size: 1.1em;
    margin: 10px 35px;
    border: 2px solid gold;
    border-radius: 5px;
    padding-bottom: 5px;
}

#message p {
    text-align: center;
    margin: 5px 10px;
}

#again-btn {
    margin: 0 auto 0 auto;
    display: flex;
    justify-content: center;
    width: 120px;
    height: 30px;
    border-radius: 5px;
    border: 1px solid black;
    background: rgba(187, 187, 187, 0.8);
}

#again-btn p {
    margin: 0;
    padding-left: 5px;
    align-self: center;
}

#again {
    margin: 0;
    padding-left: 5px;
    align-self: center;
}